.top-nav {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.top-nav-wrapper {
  width: clamp(69%, 669px, 98%);
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}
.social-link {
  text-decoration: none;
  color: #ffffff;
  padding: 0 2px;
}

.navbar {
  height: 4rem;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}
.navbar-wrapper {
  width: clamp(69%, 669px, 98%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .left-side {
  font-size: 38px;
}
.navbar .middle-side {
  display: flex;
}
.middle-nav {
  font-size: 20px;
  padding: 0 10px;
}
@media (max-width: 540px) {
  .top-nav .right-side {
    display: none;
  }
}
