@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

.blog-details {
  width: clamp(75%, 700px, 98%);
  background: #fff;
  border-radius: 4px;
  margin: 15px 0;
  padding: 30px 60px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  background-color: #212121;
}
.blog-details:first-child {
  margin: 50px 0 15px 0;
}
.first-line {
  display: flex;
  justify-content: space-between;
}
.blog-title {
  font-family: "Roboto Slab", serif;
  margin: 0 0 10px 0;
  font-size: 2em;
  color: #f2e22e;
}
.delete-button {
  background-color: #ff0000;
  padding: 10px;
  border-radius: 36%;
  height: fit-content;
  border: 1px solid transparent;
  color: white;
}
.blog-body {
  margin: 0;
  font-size: 1.4em;
  color: #555;
  margin: 18px 0;
}
.tag {
  background-color: #373737;
  border: 1px solid #484848;
  font-size: small;
  border-radius: 20px;
  padding: 5px 12px;
  margin: 10px 0;
  width: fit-content;
}
@media (max-width: 700px) {
  .blog-details {
    padding: 60px 20px;
    border-radius: 0;
  }
}
