.create {
  min-height: calc(100vh - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-side {
  width: 69vw;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vh 0;
}
.create .left-side label {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
.create .left-side input,
textarea {
  height: 36px;
  border: none;
  border-bottom: 1px solid #000;
  width: 32vw;
  padding: 8px 8px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
textarea {
  height: 160px;
}
.create-blog-button {
  height: 36px;
  width: 32vw;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-size: 18px;
}
/* .create .left-side input {
  border: none;
} */
.create .right-side {
  width: 30vw;
  background: linear-gradient(90deg, #000000, #3d3d3d);
  color: #fff;
  border-radius: 16px;
  margin: 1vw;
  padding: 32px;
  min-height: 42vh;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
